<!DOCTYPE html>
<html  layout:decorate="~{layout/layout.html}" >
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>
<main layout:fragment="main">
    <div class="px-24 py-24 flex-grow border-2 border-blue-200">
        <form method="post" onsubmit="modifyForm__submit(this); return false;" th:action >
            <h3 class="text-3xl font-bold mb-6 dark:text-white">아이디 찾기</h3>
            <div th:if="${find_username==null}" class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">이메일</label>
                <input type="email" name="email"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="user@test.com">
            </div>
            <div th:if="${find_username!=null}" class="my-6">
                <h3 th:text="|아이디: ${find_username}|" class="text-xl text-blue-900 font-bold mb-6 dark:text-white"></h3>
            </div>
            <button th:if="${find_username==null}" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">아이디 찾기</button>
        </form>
    </div>
</main>
</body>
</html>