<!DOCTYPE html>
<html  layout:decorate="~{layout/layout.html}" >
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<main layout:fragment="main">
    <div class="px-24 py-24 flex-grow border-2 border-blue-200">
        <form method="post" onsubmit="modifyForm__submit(this); return false;" th:action >
            <h3 class="text-3xl font-bold mb-6 dark:text-white">비밀번호 변경</h3>
            <div class="mb-6">
                <label for="oldPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">기존 비밀번호</label>
                <input type="password" name="oldPassword"  id="oldPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******">
                <p th:if="${error}" th:text="${error}" class="font-medium text-sm text-blue-700"></p>
                <p id="field_error_oldPassword" class="font-medium text-sm text-blue-700"></p>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">변경될 비밀번호</label>
                <input type="password" name="password"  id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******">
                <p id="field_error_password" class="font-medium text-sm text-blue-700"></p>
            </div>
            <div class="mb-6">
                <label for="passwordConfirm" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">변경될 비밀번호 확인</label>
                <input type="password" name="passwordConfirm"  id="passwordConfirm" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******">
                <p id="field_error_passwordConfirm" class="font-medium text-sm text-blue-700"></p>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">프로필수정</button>
        </form>
    </div>

    <script>
        //수정폼 제출시 비밀번호 빈값 과 비밀번호 일치를 확인
         function modifyForm__submit(form) {
                form.oldPassword.value = form.oldPassword.value.trim();

                $('#field_error_oldPassword').text('');//이미 에러메세지가 있으면 삭제
                 $('#field_error_password').text('');//이미 에러메세지가 있으면 삭제
                $('#field_error_passwordConfirm').text('');//이미 에러메세지가 있으면 삭제

                if (form.oldPassword.value.length == 0) {
                    $('#field_error_oldPassword').text('비밀 번호를 입력해주세요.');
                    form.oldPassword.focus();
                    return;
                }

                form.password.value = form.password.value.trim();

                if (form.password.value.length == 0) {
                    $('#field_error_password').text('비밀 번호를 입력해주세요.');
                    form.password.focus();
                    return;
                }

                   form.passwordConfirm.value = form.passwordConfirm.value.trim();

                //비밀번호 확인이 비어있거나 일치 하지 않는다면
                if (form.passwordConfirm.value.length == 0||form.passwordConfirm.value!=form.password.value) {
                    $('#field_error_passwordConfirm').text('비밀 번호를 확인해주세요.');
                    form.password.focus();
                     form.passwordConfirm.value='';
                     form.password.value='';
                    return;
                }
                form.submit();
                }


    </script>
</main>
</body>
</html>