<!DOCTYPE html>
<html  layout:decorate="~{layout/layout.html}" >
<head>
  <meta charset="UTF-8">
  <title>주문 리스트</title>
</head>
<body>
<main layout:fragment="main">
  <div class="px-24 py-24 overflow-x-auto relative">
    <h3 class="text-3xl font-bold mb-6 dark:text-white">주문 리스트</h3>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          주문명
        </th>
        <th scope="col" class="py-3 px-6">
          가격
        </th>
        <th scope="col" class="py-3 px-6">
          주문상태
        </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order, loop : ${orders}" th:onclick="|location.href='@{|/order/${order.id}|}'|"  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:text-blue-700">
          <td  th:text="${order.name}"  class="py-4 px-6 "></td>
          <td th:text="${order.payPrice}" class="py-4 px-6"></td>
          <td th:text="${order.readyStatus}" class="py-4 px-6"></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
</body>
</html>