<!DOCTYPE html>
<html  layout:decorate="~{layout/layout.html}" >
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
<body>
<main layout:fragment="main">
    <div class="px-24 py-24 flex-grow border-2 border-blue-200">
        <form method="post" th:object="${form}" onsubmit="modifyForm__submit(this); return false;" th:action >
            <h3 class="text-3xl font-bold mb-6 dark:text-white">글  수정</h3>

            <div class="mb-6">
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">제목</label>
                <input type="text" th:field="*{subject}"  id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="제목" >
                <p th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="font-medium text-sm text-blue-700"></p>
            </div>

            <div class="mb-6" id="editor" th:utext="*{content}"></div>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="font-medium text-sm text-blue-700"></p>
            <!--전달될 content,contentHtml-->
            <input type="text" th:field="*{content}"  id="content" hidden>
            <input type="text" th:field="*{contentHtml}"  id=" contentHtml" hidden>

            <div class="mb-6">
                <label for="hashtag" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">해쉬태그</label>
                <input type="text" th:field="*{hashtag}"  id="hashtag" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="#ex1 #ex2 #ex3" >
                <p th:if="${#fields.hasErrors('hashtag')}" th:errors="*{hashtag}" class="font-medium text-sm text-blue-700"></p>
            </div>

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">수정</button>
        </form>
    </div>

    <script>

         function modifyForm__submit(form) {
            form.content.value=editor.getMarkdown();
             form.contentHtml.value=editor.getHTML();
             form.submit();
         }


    </script>
</main>
</body>
</html>